body { background: #9dd12a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 17px; display: flex; }
.block-product-0 { color: #414788; font-size: 17px; margin-bottom: 5px; }
.block-session-1 { color: #193271; font-size: 17px; margin-bottom: 5px; }
.block-search-2 { color: #65fe02; font-size: 17px; margin-bottom: 5px; }
.block-validator-3 { color: #6cb2c6; font-size: 17px; margin-bottom: 5px; }
.block-database-4 { color: #62d9ba; font-size: 16px; margin-bottom: 5px; }